MYTUBE_BASE_URL=https://mytube.example.com
MYTUBE_AUTH_MODE=api-key
MYTUBE_API_KEY=
# MYTUBE_ADMIN_PASSWORD=
MYTUBE_REQUEST_TIMEOUT_MS=30000
MYTUBE_DOWNLOAD_POLL_INTERVAL_MS=2000
MYTUBE_DOWNLOAD_POLL_TIMEOUT_MS=600000
MYTUBE_ALLOW_INSECURE_TLS=false
MCP_TRANSPORT=stdio
MCP_HTTP_PORT=3100
MCP_HTTP_BIND=127.0.0.1
# MCP_HTTP_BEARER_TOKEN=
MCP_LOG_LEVEL=info
# MCP_ALLOWED_TOOLS=download_video,list_videos,get_video,list_collections,get_system_version
# MCP_UPLOAD_ROOTS=/Users/me/Media,/srv/mytube-imports
